.mw-body {
	margin-top: 0em;
}
#mw-panel {
	position: absolute;
	top: -30px !important;
	h1 {
		color: gray;
		border: 0px;
		margin-bottom: 0px;
	}
}
#left-navigation, #right-navigation {
	top: 0px;
	margin-top: 0px;
}
#simpleSearch {
	width: 170px !important;
}
.small_notice {
	font-size: 0.5em;
	font-style: italic;
}